<section class="about-me" id="about-me">
    <div class="container services-container">
        <h2 class="services-name">About Me</h2>
        <p class="services-title">User Interface and User Experience and Also video editing</p>
        <ul class="about-me-content">
            <li class="about-me-item about-me-image"><picture>
                <!-- <source media="(min-width: 1440px)" srcset="
                                ./img/about-me/portfolio-desktop.jpg   1x,
                                ./img/about-me/portfolio-desktop-2.jpg 2x
                              " />
                      <source media="(min-width: 768px)" srcset="
                                ./img/about-me/portfolio-tablet.jpg   1x,
                                ./img/about-me/portfolio-tablet-2.jpg 2x
                              " />
                      <source media="(max-width: 767.98px)" srcset="
                                ./img/about-me/portfolio-mob.jpg   1x,
                                ./img/about-me/portfolio-mob-2.jpg 2x
                              " />
                      <img class="about-me-img" src="./img/about-me/portfolio-mob.jpg" alt="Description of your image" width="343"
                        height="500" /> -->
            </picture></li>
            <li class="about-me-item">
                <div class="about-me-descrition">
                    <p class="about-me-text">A software engineer, the modern-day architect of digital realms, navigates the ethereal landscapes of code, sculpting
                    intangible structures that shape our technological world. With fingers poised over keyboards like virtuoso pianists,
                    they compose symphonies of logic, their minds a labyrinth of algorithms and solutions.Their canvas is a screen, a vast
                    expanse where lines of code dance in intricate patterns, weaving the fabric of programs and applications. Each keystroke
                    is a brushstroke, crafting intricate architectures and breathing life into innovative designs.In this digital atelier,
                    they don the mantle of problem solvers, confronting bugs and glitches like valiant knights in an ever-evolving quest for
                    perfection. Debugging becomes a noble pursuit, unraveling the mysteries hidden within the tangled webs of code.
                    designs.In this digital atelier.</p>
                    <button class="button">Downlead CV</button>
                </div>
            </li>
        </ul>
    
    
    
    
    
    
    
    
        </div>
</section>