<section class="contact-me" id="contact-me">
<div class="container contact-me-container">
<h2 class="contact-title">Contact me</h2>
<p class="contact-text">Cultivating Connections: Reach Out and Connect with Me</p>


<form class="contact-form">
    <div class="form-left">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="Name" required />

        <label for="phone">Phone Number</label>
        <input id="phone" type="tel" name="phone" placeholder="Phone Number" required />

        <label for="timeline">Timeline</label>
        <input id="timeline" type="text" name="timeline" placeholder="Timeline" required />
    </div>

    <div class="form-right">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="Email" required />

        <label for="service">Service of Interest</label>
        <input id="service" type="text" name="service" placeholder="Service of Interest" required />

        <label for="project">Project Details</label>
        <textarea id="project" name="project" placeholder="Project Details..." required></textarea>

        <button type="submit" class="send-btn">Send</button>
    </div>
</form>

</div>
</section>