<section class="footer">
<div class="container footer-container">
            <svg class="header-burger-icon" width="28" height="28">
                <use href="./img/icons.svg#icon-menu"></use>
            </svg>

        <ul class="footer-active">
            <li class="footer-active-link">Home</li>
            <li class="footer-active-link">Services</li>
            <li class="footer-active-link">About me</li>
            <li class="footer-active-link">Portfolio</li>
            <li class="footer-active-link">Contact me</li>
        </ul>
        <ul class="footer-socials">
            <li><a href="https://www.instagram.com" target="_blank">IG</a></li>
            <li><a href="https://www.linkedin.com" target="_blank">LK</a></li>
            <li><a href="https://www.youtube.com" target="_blank">YT</a></li>
            <li><a href="https://github.com" target="_blank">GH</a></li>
        </ul>
<div class="footer-contacts">
    <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="mailto:Mahmood.fazile7005@gmail.com" rel="noopener noreferrer">Mahmood.fazile7005@gmail.com
            </a>
        </li>
        <li class="footer-contacts-item">
            <a class="footer-contacts-link" href="tel:+93 729 107 005" rel="noopener noreferrer">+93 729 107 005</a>
        </li>
    </ul>
</div>

<div class="footer-line"></div>
<p class="footer-text">
    Designed by <span class="footer-name">@mahmood.fazile</span> UI/UX designer
</p>
</div>


</section>