<header class="header">
    <div class="container header-container">
        <a href="" class=""></a>
        <ul class="header-list">
            <li class="header-list-items"><a href="#home" class="header-list-item-link">Home</a></li>
            <li class="header-list-items"><a href="#services" class="header-list-item-link">Services</a></li>
            <li class="header-list-items"><a href="#about-me" class="header-list-item-link">About me</a></li>
            <li class="header-list-items"><a href="#portfolio" class="header-list-item-link">Portfolio</a></li>
            <li class="header-list-items"><a href="#contact-me" class="header-list-item-link">Contact me</a></li>
        </ul>
        <nav class="header-button">
            <button class="button">Hire me</button>
        </nav>
    </div>

</header>