<section class="hero">
    <div class="container hero-container">
        <p class="hero-info">Hi I am</p>
        <h2 class="hero-title-name">Mahmood Fazile</h2>
        <h1 class="hero-title">UI/UX <span>designer</span></h1>

        <ul class="hero-socials">
            <li><a href="https://www.instagram.com" target="_blank">IG</a></li>
            <li><a href="https://www.linkedin.com" target="_blank">LK</a></li>
            <li><a href="https://www.youtube.com" target="_blank">YT</a></li>
            <li><a href="https://github.com" target="_blank">GH</a></li>
        </ul>
        <div class="hero-button">
            <button class="button">Hire me</button>
            <button class="button">Downlead CV</button>
        </div>
        <ul class="hero-mark">
            <li>
                <span class="mark-number">5+</span>
                <span class="mark-text">Experiences</span>
            </li>
            <li>
                <span class="mark-number">20+</span>
                <span class="mark-text">Project done</span>
            </li>
            <li>
                <span class="mark-number">80+</span>
                <span class="mark-text">Happy Clients</span>
            </li>
        </ul>
    </div>
    <div class="hero-image">
        <picture>
            <!-- <source media="(min-width: 1440px)" srcset="
                    ./img/about-me/portfolio-desktop.jpg   1x,
                    ./img/about-me/portfolio-desktop-2.jpg 2x
                  " />
          <source media="(min-width: 768px)" srcset="
                    ./img/about-me/portfolio-tablet.jpg   1x,
                    ./img/about-me/portfolio-tablet-2.jpg 2x
                  " />
          <source media="(max-width: 767.98px)" srcset="
                    ./img/about-me/portfolio-mob.jpg   1x,
                    ./img/about-me/portfolio-mob-2.jpg 2x
                  " />
          <img class="about-me-img" src="./img/about-me/portfolio-mob.jpg" alt="Description of your image" width="343"
            height="500" /> -->
        </picture>
    </div>
</section>