<section class="portfolio" id="portfolio">
    <div class="container swiper-container">
        <h2 class="portfolio-title">Projects</h2>
    <div class="portfolio-filters">
        <button class="filter-btn active" data-filter="all">All</button>
        <button class="filter-btn" data-filter="web">Website Design</button>
        <button class="filter-btn" data-filter="mobile">App Mobile Design</button>
        <button class="filter-btn" data-filter="desktop">App Desktop</button>
        <button class="filter-btn" data-filter="branding">Branding</button>
    </div>

    <ul class="portfolio-grid">
        <li class="portfolio-card" data-category="web branding">
            <img src="./images/project-1.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>
    
        <li class="portfolio-card" data-category="mobile">
            <img src="./images/project-2.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>
    
        <li class="portfolio-card" data-category="desktop web">
            <img src="./images/project-3.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>

        <li class="portfolio-card" data-category="web branding">
            <img src="./images/project-1.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>
        
        <li class="portfolio-card" data-category="mobile">
            <img src="./images/project-2.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>
        
        <li class="portfolio-card" data-category="desktop web">
            <img src="./images/project-3.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>

        <li class="portfolio-card" data-category="web branding">
            <img src="./images/project-1.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>
        
        <li class="portfolio-card" data-category="mobile">
            <img src="./images/project-2.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>
        
        <li class="portfolio-card" data-category="desktop web">
            <img src="./images/project-3.jpg" alt="Project" />
            <div class="card-info">
                <span>Name Project</span>
                <span>Categories</span>
            </div>
        </li>
    </ul>
        </div>
        
</section>