<section class="services" id="services">
    <div class="container services-container">
        <h2 class="services-name">Services</h2>
        <p class="services-title">Lorem ipsum dolor sit amet consectetur. Imperdiet convallis blandit felis ligula aliquam</p>

     <ul class="services-list">
        <li class="services-card">
            <div class="services-content">
                <svg class="services-icon" width="24" height="24">
                    <!-- <use href="./img/icons.svg#icon-services-brush"></use> -->
                </svg>
                <h3 class="services-content-name">App Design</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </li>
        <li class="services-card">
            <div class="services-content">
                <svg class="services-icon" width="24" height="24">
                    <!-- <use href="./img/icons.svg#icon-services-brush"></use> -->
                </svg>
                <h3 class="services-content-name">App Design</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </li>
        <li class="services-card">
            <div class="services-content">
                <svg class="services-icon" width="24" height="24">
                    <!-- <use href="./img/icons.svg#icon-services-brush"></use> -->
                </svg>
                <h3 class="services-content-name">App Design</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </li>
        <li class="services-card">
            <div class="services-content">
                <svg class="services-icon" width="24" height="24">
                    <!-- <use href="./img/icons.svg#icon-services-brush"></use> -->
                </svg>
                <h3 class="services-content-name">App Design</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </li>
        <li class="services-card">
            <div class="services-content">
                <svg class="services-icon" width="24" height="24">
                    <!-- <use href="./img/icons.svg#icon-services-brush"></use> -->
                </svg>
                <h3 class="services-content-name">App Design</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </li>
        <li class="services-card">
            <div class="services-content">
                <svg class="services-icon" width="24" height="24">
                    <!-- <use href="./img/icons.svg#icon-services-brush"></use> -->
                </svg>
                <h3 class="services-content-name">App Design</h3>
                <p class="services-content-text">Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
            </div>
        </li>
    </ul>  

    </div>


</section>