.footer {}

.container {}

.footer-container {}

.header-burger-icon {}

.footer-active {}

.footer-active-link {}

.footer-socials {}

.footer-contacts {}

.footer-contacts-list {}

.footer-contacts-item {}

.footer-contacts-link {}

.footer-line {}

.footer-text {}

.footer-name {}