.hero {}

.container {}

.hero-container {}

.hero-info {}

.hero-title-name {}

.hero-title {}

.hero-socials {}

.hero-button {}

.button {}

.hero-mark {}

.mark-number {}

.mark-text {}

.hero-image {}