.services {}

.container {}

.services-container {}

.services-name {}

.services-title {}

.services-list {}

.services-card {}

.services-content {}

.services-icon {}

.services-content-name {}

.services-content-text {}