.services {}

.container {}

.services-container {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 80px;
}

.services-name {font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-align: justify;
    color: #fefefe;
font-family: "Lato", sans-serif;
}

.services-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.03em;
        text-align: justify;
        color: #707070;
        font-family: "Lato", sans-serif;
}

.services-list {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
        flex-wrap: wrap;
}

.services-card {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        /* gap: 34px; */
        border-radius: 24px;
            /* padding: 34px; */
            width: 399px;
            height: 322px;
            background: rgba(255, 255, 255, 0.04);
}

.services-content {
 display: flex;
        align-items: center;
        justify-content: flex-start; 
        flex-direction: column;
        gap: 34px;
        /* border-radius: 24px; */
            margin: 34px auto;
         /* width: 399px;
            height: 322px; */
             /* background: rgba(255, 255, 255, 0.04);   */
}

.services-icon {}

.services-content-name {
    font-weight: 700;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0.03em;
        text-align: justify;
        color: #fd6f00;
        font-family: "Lato", sans-serif;
}

.services-content-text {
    font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #575757;
        font-family: "Lato", sans-serif;
}